# ignore a file
config.env

# ignore a folder
node_modules/

# ignore all log files
*.log
.env
# JMeter
Performance-JMeter/performance-report/
Performance-JMeter/reports/
*.jtl
bin/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.local-browsers
